#gameworld {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    position: relative;
}

.sprite {
    position: absolute;
}

.sprite > div {
    width: 100%;
    height: 100%;
}

.anim-corgi-walk {
    background: url('../sprites/corgi_walk.png');
}

.anim-corgi-run {
    background: url('../sprites/corgi_run.png');
}

.anim-corgi-stand {
    background: url('../sprites/corgi_stand.png');
}

.anim-corgi-sit {
    background: url('../sprites/corgi_sit.png');
}

.ball {
    background: url('../sprites/smiley.png');
    background-size: contain;
}
