.xpet-gameworld {
    position: relative;
}

.xpet-sprite {
    position: absolute;
    left: 0;
    top: 0;
}

.xpet-sprite > div {
    width: 100%;
    height: 100%;
}

.xpet-anim-corgi-walk {
    background: url('../sprites/corgi_walk.png');
}

.xpet-anim-corgi-run {
    background: url('../sprites/corgi_run.png');
}

.xpet-anim-corgi-stand {
    background: url('../sprites/corgi_stand.png');
}

.xpet-anim-corgi-sit {
    background: url('../sprites/corgi_sit.png');
}

.xpet-ball {
    background: url('../sprites/smiley.png');
    background-size: contain;
}
